html, body, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App { 
  background: url('./resources/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes animate {
  0% {
    transform: scale(0.85);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.03);
  }
  80% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.animate {
  animation: animate 0.8s;
  transform-origin: center;
}
